@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --gray-100: #C9CACB;
  --gray-200: #BAC0C3;
  --gray-300: #AFB5B9;
  --gray-400: #9EA6AC;
  --gray-500: #7D8A93;
  --gray-600: #465058;
  --gray-700: #2E3438;
  --gray-800: #1D2226;
  --gray-900: #0C0E10;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  gap: .5em;

  color: var(--gray-100);
  background: linear-gradient(45deg, var(--gray-900) 10%, var(--gray-800) 100%);
}

main {
  width: clamp(320px, 95vmin, 380px);

  border-radius: 24px;
  border: 2px solid var(--gray-800);
  box-shadow: 0 75px 75px -75px var(--gray-900);
}

section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: right;
  align-items: end;

  padding: .25em 1em;
}

span {
  height: 1em;
  font-size: 18px;
}

h2 {
  min-height: calc(1em + 8px);

  font-weight: 500;
  word-break: break-all;
  font-size: clamp(18px, 14vw, 72px);
}

.numpad {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);

  height: 250px;
  box-shadow: 0 0 100px -25px var(--gray-900);
}

button {
  all: unset;
  cursor: pointer;
  transition: .1s ease-out;
}

button:hover {
  background: var(--gray-800);
}

button:active {
  filter: brightness(125%);
}

.equal {
  grid-area: 3 span;
}

.zero {
  grid-area: span 1 / span 2;
}
